
<div class="flex-col">
  <div class="flex">
    <app-resets [saveEmmiter]="tellResetBBQ"
      (resetInputsOut)="inputsRSTfn()"
      (resetTableOut)="tableRSTfn()"
    >
    </app-resets>

    <app-inputs 
      (fnameOut)="theNewItem.fname = $event"
      (lnameOut)="theNewItem.lname = $event"
      (ageOut)="theNewItem.age = $event"
      (colorOut)="theNewItem.color = $event"
      (saveRowOut)="tellTableToSave()"
      [inputsRST]="inputsRST"
    ></app-inputs>

  </div>

  <app-table (BBQ)="BBQ()" 
      [newItem]="theNewItem" 
      [saveEmmiter]="tellTableToSaveEmmiter"
      [tableRST]="tableRST"
      >
  </app-table>

</div>